body {
  text-align: center;
  background-color: white; 
  font-family: 'Roboto Condensed', sans-serif;
}

#form-style {
  border: 0.5px black solid;
  padding: auto;
  margin: auto;
  width: 75%;
}

h3 {
  border-radius: 2px;
  color: black;
}

.button {
  background-color: green;
  opacity: 80%;
  width: 23%;
  height: 50px;
  color: white;
  border: none;
  margin: auto;
  padding: auto;
}

.button:hover {
  opacity: 100%
}

#result {
  font-size: 3em;
}

#java, #java2, #csharp, #python, #ruby {
  width: 25%;
  background-color: rgb(250, 250, 250);
  text-align: center;
}