@media only screen and (min-width: 100px) and (max-width: 768px) {
  #form-style {
    margin: auto;
    padding: 100%;
    width: 100%;
    background-color:blue;
  }
  .button {
    width: 100%;
  }
  #java, #java2, #csharp, #python, #ruby {
    width: 100%;
  }}
  
  

body {
  text-align: center;
  background-color: white; 
  font-family: 'Roboto Condensed', sans-serif;
}

#form-style {
  border: 0.5px black solid;
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  width: 50%;
}

h3 {
  border-radius: 2px;
  color: black;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

#sensitive {
  color: red;
  font-style: italic;
}

.button {
  background-color: green;
  opacity: 80%;
  width: 23%;
  height: 50px;
  color: white;
  border: none;
  margin: auto;
  padding: auto;
}

.button:hover {
  opacity: 100%
}

#result {
  font-size: 3em;
}

#java, #java2, #csharp, #python, #ruby {
  width: 25%;
  background-color: rgb(250, 250, 250);
  text-align: center;
}