@media only screen and (min-width: 100px) and (max-width: 350px) {
}
  body {
  text-align: center;
  background-color: white; 
  font-family: 'Roboto Condensed', sans-serif;
}

#form-style {
  border: 0.5px black solid;
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  width: 50%;
}

.form-control {
  margin: auto;
}

h3 {
  border-radius: 2px;
  color: black;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

#sensitive {
  color: red;
  font-style: italic;
}

.btn {
  opacity: 95%;
  width: 50%;
  color: white;
  border: none;
  margin: auto;
  padding: auto;
}

.btn:hover {
  opacity: 100%
}

#result {
  font-size: 1.5em;
}

#java, #java2, #csharp, #python, #ruby {
  font-size: smaller;
  width: 100%;
  background-color: rgb(250, 250, 250);
  text-align: center;
}

.italic {
  font-style: italic;
}